{% extends 'index.html' %}

{% block content %}

    <div>
        
        <a href="/profile" id="profile" >Profile</a>
        <a href="/messages" id="messages">Messages</a>
        <a href="/logout">
            <button>Logout</button>
        </a>
    
    </div>

    {% if name %}
        <p> Welcome {{name}}.</p>
        <br>
        <p><strong> Create a Post</strong></p>
        <form action="/home" method="post" enctype="multipart/form-data">
            <label for="Text">Post Text</label>
            <textarea name="post_text" id="post_text" rows="4" cols="50" placeholder="Write your thoughts"></textarea>

            <label for="post_image">Upload an Image</label>
            <input type="file" name="post_image" id="post_image">
            <button type="submit">Post</button>

        </form>
        <a href="/logout">
            <button>Logout</button>
        </a>
        <h2>Posts</h2>
        <div class="posts">
            {% for post in posts %}
                <div>
                    <p><strong>{{post[1]}}</strong> - {{post[4]}}</p>
                    <p>{{post[2]}}</p>
                    {% if post[3] %}
                        <img src="{{post[3]}}" alt="post image" max-width="100px"
                    {% endif %}
                   
                </div>
                
            {% endfor %}

        </div>
    {% endif %}


{% endblock %}