{% extends 'index.html' %}

{% block content %}

<h2>Send a Message</h2>
<form action="/messages" method="post">
    <label for="recipient">Recipient Username</label>
    <input type="text" name="recipient" id="recipient" required placeholder="Enter Recipient Username">

    <label for="message">Message</label>
    <textarea name="message" id="message" cols="50" rows="4" placeholder="Enter Message" required></textarea>
    <br>
    <button type="submit">Send</button>

</form>

<h3>Chat History</h3>
{% if messages %}
    <div id="chat-history">
        {% for msg in messages %}
            <div class="message">
                <p><strong>{{msg.sender_username}}</strong>: {{msg.message}}</p>
                <small>sent at: {{msg.timestamp}}</small>
            </div>
        {% endfor %}
    </div>

{% else %}
    <p>No messages yet. Start a conversation!</p>
{% endif %}




{% endblock %}
